/solution_for_1/*.iml
/solution_for_1/.gradle
/solution_for_1/local.properties
/solution_for_1/.idea/caches
/solution_for_1/.idea/libraries
/solution_for_1/.idea/modules.xml
/solution_for_1/.idea/workspace.xml
/solution_for_1/.idea/navEditor.xml
/solution_for_1/.idea/assetWizardSettings.xml
/solution_for_1/.DS_Store
/solution_for_1/build
/solution_for_1/captures
/solution_for_1/.externalNativeBuild
/solution_for_1/.cxx
/solution_for_1/local.properties
